* {
    font-family: monospace;
}

body {
    margin: 16px;
}

header {
    text-align: center;
}

button:active {
    transform: translateY(2px);
}

hr {
    width: 50%;
}

footer {
    font-size: small;
}

input[id^='value-input'] {
    max-width: 16ch;
}
